@media (max-aspect-ratio: 1/1) {
    body {

        padding: 0px;
        margin: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #F3F4F6;
        overflow-x: hidden;

    }

    button:disabled {
        opacity: 0.5;
    }

    #header {

        width: 100vw;
        height: 100vw;
        background-color: #FFD262;
        position: relative;
        text-align: center;
        padding-top: 18vw;
        clip-path: polygon(0vw 0vw, 100vw 0vw, 100vw 103vw, 0vw 115vw);
        
    }

    #cover {
        
        position: absolute;
        top: 80vw;
        left: 0px;
        transform: scale(1.1);

    }


    #header #title {

        font-size: 10vw;
        font-weight: 500;

    }

    #header #welcome {

        font-size: 6vw;
        margin-top: 6vw;

    }

    #header #logo {

        width: 16vw;
        position: absolute;
        left: 3vw;
        top: 2vw;

    }

    #header #login-options #login-button {

        width: 40vw;
        height: 12vw;
        font-size: 5vw;
        color: black;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid black;
        cursor: pointer;
        margin: 8vw 3vw;

    }

    #header #login-options #signup-button {

        width: 40vw;
        height: 12vw;
        font-size: 5vw;
        color: white;
        background-color: #3C89FF;
        border: none;
        cursor: pointer;
        margin: 8vw 3vw;

    }

    #header #page-options #page {

        width: 45vw;
        height: 10vw;
        font-size: 3.9vw;
        color: white;
        background-color: #3C89FF;
        border: none;
        cursor: pointer;
        margin: 8vw 3vw;

    }

    #header #logout #logout {

        width: 30vw;
        height: 10vw;
        font-size: 4vw;
        color: black;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid black;
        cursor: pointer;
        position: absolute;
        top: 3vw;
        right: 6vw;

    }

    #body {

        /* width: 100vw; */
        /* background-color: #F3F4F6; */

    }

    #signup, #login {
        
        width: 85vw;
        background-color: white;
        position: relative;
        /* text-align: center; */
        padding: 5vw;
        margin: auto;
        margin-top: 30vw;
        margin-bottom: 2vw;
        border-radius: 1vw;
        text-align: center;

    }

    #signup #title, #login #title {

        font-size: 8vw;
        text-align: center;
        color: black;

    }

    #signup .label, #login .label {

        text-align: left;
        padding-top: 5vw;
        font-size: 4vw;
        color: black;
        margin-left: 2.1vw;

    }

    #signup input, #login input {

        width: 80vw;
        height: 8vw;
        background-color: #F3F4F6;
        border: none;
        margin-top: 6vw;
        font-size: 6vw;

    }

    #signup #submit, #login #submit {

        width: 40vw;
        height: 12vw;
        font-size: 4.5vw;
        color: white;
        background-color: #3C89FF;
        border: none;
        cursor: pointer;
        margin: auto;
        margin-top: 8vw;
        display: block;

    }

    #signup #cancel, #login #cancel {

        font-size: 3vw;
        color: black;
        text-decoration: underline black;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        cursor: pointer;
        text-align: center;
        display: block;
        margin-top: 6vw;

    }

    #signup #link-img, #login #link-img {

        width: 60vw;

    }

    #signup #link-title, #login #link-title {

        text-align: center;
        font-weight: 600;
        font-size: 5vw;

    }

    #signup #link-label, #login #link-label {

        text-align: center;
        font-size: 5vw;

    }

    #signup #link, #login #link {

        margin-top: 8vw;
        text-align: center;
        cursor: pointer;

    }

    #signup #link a, #login #link a {

        font-size: 8vw;
        color: #01A0E1;
        text-decoration: none;
        font-weight: 600;

    }

    #find {
        width: 100vw;
        text-align: center;
        margin-top: 30vw;
    }

    #find #find-title {

        font-size: 7vw;
        margin-top: 14vw;
        font-weight: 600;

    }

    #find #help-options #helpme, #find #help-options #ihelp {

        width: 47vw;
        height: 8vw;
        background-color: rgba(255, 255, 255, 0);
        color: #9B9B9B;
        font-size: 4vw;
        border: none;
        margin-top: 14vw;
        cursor: pointer;

    }

    #find #help-options #helpme {

        

    }

    #find #help-options .select {

        color: black !important;
        border-bottom: 1vw solid black !important;

    }

    #cities {
        position: absolute;
        top: 188vw;
        left: 12vw;
        width: 40vw;
        cursor: pointer;
        z-index: 100;
        text-align: left;
        /* background-color: white; */
    }

    #create #cities {
        top: 173vw;
    }

    #cities #pin {
        display: inline-block;
        height: 12vw;
        position: absolute;
        top: -3.5vw;
        left: -10vw;
    }

    #cities #city-button {
        font-size: 5vw;
    }

    #cities input {
        font-size: 4vw;
        height: 8vw;
        width: 100%;
        border: none;
        background-color: #fff;
    }

    #cities #city-list {
        font-size: 4vw;
        width: 100%;
        max-height: 20vw;
        overflow-y: hidden;
    }

    #cities #city-list .line {
        background-color: #FFD262;
        padding: 0px 1vw;
    }

    #cities #city-list .line:hover {
        background-color: #e0f6ff;
        padding: 0px 1vw;
    }

    #find #container {

        padding-top: 20vw;
        text-align: center;
        border-top: 0.2vw solid black;
        width: 94vw;
        margin: auto;

    }

    #find .post {
        
        text-align: left;
        width: 75vw;
        background-color: white;
        position: relative;
        padding: 10vw;
        margin-bottom: 6vw;

    }

    #find .post .picture {

        position: absolute;
        width: 20vw;
        top: 9vw;
        left: 10vw;
        clip-path: circle();

    }

    #find .post .picture img {

        width: 100%;
        transform: scale(1.1);
        position: relative;

    }

    #find .post .fullname {

        width: 50vw;
        font-size: 4vw;
        position: absolute;
        left: 35vw;
        top: 19vw;

    }

    #find .post .title {

        margin-left: 25vw;
        font-size: 6vw;
        font-weight: 600;

    }

    #find .post .message {

        font-size: 6vw;
        min-height: 10vw;
        margin-top: 15vw;
        margin-bottom: 50vw;
        width: 75vw;

    }

    #find .post .date, #find .post .city {

        color: #7C7C7C;
        font-size: 3.5vw;
        position: absolute;
        /* left: 0px; */

    }

    #find .post .city .city-pin {

        position: relative;
        top: 5vw;
        left: 6vw;
        transform: scale(0.7);

    }

    #find .post .city label {

        margin-left: 3vw;

    }

    #find .post .city {

        left: 0vw;
        bottom: 48vw;

    }

    #find .post .date {

        right: 10vw;
        bottom: 48vw;

    }

    #find .post .contact {

        width: 75vw;
        height: 16vw;
        color: white;
        background-color: #65CE00;
        font-size: 6vw;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 26vw;
        left: 10vw;

    }

    #find .post object {
        position: absolute;
        width: 14vw;
        height: 14vw;
        top: 0px;
        left: 0px;
    }

    #find .post .phone {

        position: absolute;
        width: 14vw;
        height: 14vw;
        right: 20vw;
        bottom: 6vw;
        /* background-color: red; */
        background-image: url(src/phone.svg);
        background-size: contain;
        background-repeat: no-repeat;


    }

    #find .post .facebook {

        position: absolute;
        width: 14vw;
        height: 14vw;
        right: 40.5vw;
        bottom: 6vw;
        /* background-color: red; */
        background-image: url(src/facebook.svg);
        background-size: contain;
        background-repeat: no-repeat;


    }

    #find .post .mail {

        position: absolute;
        width: 14vw;
        height: 14vw;
        left: 20vw;
        bottom: 6vw;
        /* background-color: red; */
        background-image: url(src/mail.svg);
        background-size: contain;
        background-repeat: no-repeat;


    }

    #find #buttons {

        margin: auto;
        margin-top: 8vw;
        margin-bottom: 8vw;
        text-align: center;

    }

    #find #buttons .button  {

        width: 12vw;
        height: 12vw;
        font-size: 6vw;
        border-top: 0.2vw solid black;
        border-bottom: 0.2vw solid black;
        border-left: 0.1vw solid black;
        border-right: 0.1vw solid black;
        background-color: rgba(255, 255, 255, 0);

    }

    #find #buttons .select {

        background-color: #3C89FF;
        color: white;
        border: none;

    }

    #create {
        text-align: center;
        margin-top: 30vw;
    }

    #create #heading {

        font-size: 7vw;
        font-weight: 600;
        margin-top: 12vw;
        margin-bottom: 30vw;

    }

    #create #top, #create #bottom {
        
        text-align: left;
        width: 95vw;
        background-color: white;
        margin: 6vw auto;
        padding-bottom: 8vw;
        padding-top: 6vw;
        position: relative;

    }

    #create #top #select input {

        position: relative;
        /* bottom: 1vw; */
        margin-left: 8vw;
    }

    #create #top #select .label {

        margin-top: 6vw;
        margin-left: 3vw;
        margin-right: 21vw;
        font-size: 5vw;
        display: inline-block;

    }

    #create #top #title-label {

        
        font-size: 6vw;
        font-weight: 600;
        margin-top: 6vw;
        margin-left: 6vw;

    }

    #create #top #title {

        font-size: 7vw;
        margin-top: 6vw;
        margin-left: 6vw;
        width: 83vw;
        border: none;
        background-color: #F3F4F6;

    }

    #create #bottom #message-label {

        
        font-size: 6vw;
        font-weight: 600;
        margin-left: 6vw;

    }

    #create #bottom #message {

        font-size: 6vw;
        margin-top: 6vw;
        margin-left: 6vw;
        width: 83vw;
        height: 55vw;
        border: none;
        background-color: #F3F4F6;
        border: none;

    }

    #create #bottom #status {

        margin-bottom: 40vw;

    }

    #create #bottom #status input {

        position: relative;
        margin-right: 3vw;
        margin-left: 6vw;
        /* top: -1vw; */

    }

    #create #bottom #status .label {

        margin-top: 6vw;
        margin-right: 50vw;
        font-size: 5vw;
        display: inline-block;

    }

    #create #submit-buttons {

        margin: auto;

    }

    #create #submit-buttons .button {

        width: 50vw;
        height: 14vw;
        font-size: 6vw;
        border: none;
        cursor: pointer;
        margin: 2vw 10vw;
        display: inline-block;

    }

    #create #submit-buttons #submit {
        color: white;
        background-color: #3C89FF;
    }

    #create #submit-buttons #edit {
        color: black;
        background-color: #65CE00;
    }


    #create #submit-buttons #remove {
        color: black;
        background-color: #ff6c62;
    }
    
    #create #bottom #text {

        width: 85vw;
        font-size: 4vw;
        color:#bd6767;
        position: absolute;
        bottom: 6vw;
        left: 6vw;

    }

    .hidden {

        display: none !important;

    }

    #alert-bg {

        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0px;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1000;

    }

    #alert-box {

        z-index: 1001;
        position: fixed;
        top: 20vw;
        left: 20vw;
        width: 60vw;
        /* height: 8vw; */
        background-color: white;
        text-align: center;

    }

    #alert-box #text {

        font-size: 6vw;
        margin-top: 20pt;

    }

    #alert-box .button {

        font-size: 6vw;
        width: 50vw;
        height: 15vw;
        margin: 2vw 5vw;
        position: relative;

    }

    #alert-box #ok {
        background-color: #3C89FF;
        border: none;
        color: white;
    }

    #alert-box #cancel {
        background-color: rgba(255, 255, 255, 0);
        border: 1pt solid black;
        color: black;
    }

    #guide {

        

    }

    #guide #heading {

        font-size: 8vw;
        font-weight: 600;
        margin-top: 40vw;
        margin-bottom: 10vw;
        text-align: center;

    }

    #step1, #step2, #step3 {

        width: 85vw;
        margin-bottom: 10vw;
        display: block;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0px 5vw;
        text-align: center;
        margin: auto;

    }

    #step1 {

        background-image: url(src/register.svg);

    }

    #step2 {

        background-image: url(src/search.svg);

    }

    #step3 {

        background-image: url(src/contact.svg);

    }

    #step1 .step, #step2 .step, #step3 .step {

        font-size: 8vw;
        font-weight: 300;

    }

    #step1 .title, #step2 .title, #step3 .title {

        margin-top: 55vw;
        font-size: 6vw;
        font-weight: 600;

    }

    #step1 .text, #step2 .text, #step3 .text {

        margin-top: 8vw;
        font-size: 4.5vw;
        margin-bottom: 15vw;

    }

}